.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  max-width: 640px;
  margin: auto;
  margin-top: 50px;
}

.App-link {
  color: #61dafb;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  max-width: 640px;
  margin: auto;
  margin-top: 50px;
}

.root {
  background: white;
  min-width: 275;
}

.media {
  height: 200px;
  padding-top: '56.25%';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
